/* ==========================================================================
   BASE STYLES
   ========================================================================== */

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: #374151;
  background-color: #ffffff;
}
